<html>
<header>
 {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'NewsFeed/style.css' %}">
    {% block title %}
        <title>Base</title>
    {% endblock %}
</header>
<body>
    <main>
    {% block navigation %}
        <nav>
		<a href="{% url 'NewsFeed:news' %}">Новости</a>
		<a href="{% url 'EventCalendar:events' %}">Мероприятия</a>
		<a href="NOTIMPLEMENTED">NOTIMPLEMENTED</a>
		<a href="NOTIMPLEMENTED">NOTIMPLEMENTED</a>
		<a href="NOTIMPLEMENTED">NOTIMPLEMENTED</a>
	    </nav>
    {% endblock %}
    {% block user %}
        <p align="center"> {% if user.is_authenticated %} Current user: {{ request.user }}  <a href="{% url 'logout' %}?next={{request.path}}">Logout</a> {% else %} You're not logged in:  <a href="{% url 'login' %}">Login</a> {% endif %}</p>
    {% endblock %}
    {% block content %}

    {% endblock %}
    </main>
</body>
</html>