{% extends "base.html" %}
{% block title %}
    <title>Новости</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <a class="create_project_button" style="color: white" href="{% url 'core:project_create' %}"> Click here to create an event </a> {# TODO: make check permissions here #}
    {% if perms.core.can_moderate_projects %}<a class="go_to_button" style="color: white" href="{% url 'core:new_pending_projects_mod' %}"> Click here moderate new projects </a>
    {% endif %}
    {% else %}
        <div>Войдите, чтобы добавить проект</div>
    {% endif %}
    {% if object_list %}
        {% for project in object_list %}
            <article>
                <h2><a href="{% url 'core:project_detail' project.id %}">{{ project.project_name }}</a></h2>
                <h2>Тип мероприятия: {{ project.event_type }} </h2>
                <div>{{ project.project_info }}</div>
                <div>Направление: {{ project.direction_type }}</div>
                <p>Навыки для участия: </p>
                <div class="tag_container"> {% for skill in project.project_skills.all %}
                    <div class="tag">{{ skill.skill_name }}</div>
                {% endfor %}</div>
                <div>Авторы: {% for author in project.project_authors.all %}
                    <p>{{ author.username }}</p> {% endfor %}
                </div>
                <p>Начало: {{ project.project_start }}</p>
                <p>Конец: {{ project.project_end }}</p>
                <p>Статус проекта: {{ project.get_project_status_display }}</p>
                <p>Опубликовано: {{ project.pub_date }}</p>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            </article>
        {% endfor %}
    {% else %}
        <p>На данный момент нет проектов.</p>
    {% endif %}

{% endblock %}


