{% extends "base.html" %}
{% block title %}
    <title>Команды проекта</title>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if is_in_team %} {# you can put additional info into this template for ex. chat, removing members #}
                    <article>
                        <h2 class="entry_user_header">  {{ team.team_name }}  </h2>
                        <div class="regular-text"> Описание: {{ team.team_lfg_message }} </div>
                        <div class="regular-text"> Капитан: {{ team.team_captain.get_name }} </div>
                        Текущий состав:
                        {% for member in team.team_members.all %}
                            <div class="regular-text"> <a href=""> {{ member.get_name }} </a> </div>
                            {% endfor %}
                    </article>
        {% else %}
            <div class="error_warning"> Только автор проекта имеет право просматривать эту страницу </div>
        {% endif %}
        {% else %}
            <div class="error_warning"> Войдите, чтобы просматривать эту страницу </div>
    {% endif %}

{% endblock %}


